@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ReactModal__Content {
  position: relative;
  outline: none;
  background-color: white;
  border-radius: 4px;
}
