/* .stepper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stepper .MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    position: relative;
  }
  
  .stepper .MuiStepLabel-label.MuiStepLabel-alternativeLabel:before {
    position: absolute;
    top: -0.75rem;
    left: 50%;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: grey;
  }
  
  .stepper .MuiStepLabel-label.MuiStepLabel-alternativeLabel:after {
    position: absolute;
    top: -0.75rem;
    left: 50%;
    content: "";
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: white;
    border: 2px solid grey;
    transform: translate(-50%, -50%);
  }
  
  .stepper .MuiStepLabel-label.MuiStepLabel-alternativeLabel.Mui-active:after {
    background-color: grey;
    border-color: grey;
  }
  
  .stepper .MuiStepLabel-labelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stepper .MuiStepLabel-labelContainer > span {
    text-align: center;
  }
  
  .stepper .MuiStepContent-root {
    margin-top: 1rem;
  }
   */