.modal-content {
  margin-top: 50px;
  background-color: white;
}
.textinput {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
#bottominput {
  padding-bottom: 10px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.btn {
  padding: 5px;
  background-color: #568ea3;
  color: white;
  margin: 10px;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin: 5px;
}
